div.jsoneditor .jsoneditor-search input{
    height:auto;
    border:inherit
}
div.jsoneditor .jsoneditor-search input:focus{
    border:none!important;
    box-shadow:none!important
}
div.jsoneditor table{
    border-collapse:collapse;
    width:auto
}
div.jsoneditor td,div.jsoneditor th{
    padding:0;
    display:table-cell;
    text-align:left;
    vertical-align:inherit;
    border-radius:inherit
}
div.jsoneditor-field,div.jsoneditor-readonly,div.jsoneditor-value{
    border:1px solid transparent;
    min-height:16px;
    min-width:32px;
    padding:2px;
    margin:1px;
    word-wrap:break-word;
    float:left
}
div.jsoneditor-field p,div.jsoneditor-value p{
    margin:0
}
div.jsoneditor-value{
    word-break:break-word
}
div.jsoneditor-readonly{
    min-width:16px;
    color:gray
}
div.jsoneditor-empty{
    border-color:#d3d3d3;
    border-style:dashed;
    border-radius:2px
}
div.jsoneditor-field.jsoneditor-empty::after,div.jsoneditor-value.jsoneditor-empty::after{
    pointer-events:none;
    color:#d3d3d3;
    font-size:8pt
}
div.jsoneditor-field.jsoneditor-empty::after{
    content:"field"
}
div.jsoneditor-value.jsoneditor-empty::after{
    content:"value"
}
a.jsoneditor-value.jsoneditor-url,div.jsoneditor-value.jsoneditor-url{
    color:green;
    text-decoration:underline
}
a.jsoneditor-value.jsoneditor-url{
    display:inline-block;
    padding:2px;
    margin:2px
}
a.jsoneditor-value.jsoneditor-url:focus,a.jsoneditor-value.jsoneditor-url:hover{
    color:#ee422e
}
div.jsoneditor td.jsoneditor-separator{
    padding:3px 0;
    vertical-align:top;
    color:gray
}
div.jsoneditor-field.jsoneditor-highlight,div.jsoneditor-field[contenteditable=true]:focus,div.jsoneditor-field[contenteditable=true]:hover,div.jsoneditor-value.jsoneditor-highlight,div.jsoneditor-value[contenteditable=true]:focus,div.jsoneditor-value[contenteditable=true]:hover{
    background-color:#ffffab;
    border:1px solid #ff0;
    border-radius:2px
}
div.jsoneditor-field.jsoneditor-highlight-active,div.jsoneditor-field.jsoneditor-highlight-active:focus,div.jsoneditor-field.jsoneditor-highlight-active:hover,div.jsoneditor-value.jsoneditor-highlight-active,div.jsoneditor-value.jsoneditor-highlight-active:focus,div.jsoneditor-value.jsoneditor-highlight-active:hover{
    background-color:#fe0;
    border:1px solid #ffc700;
    border-radius:2px
}
div.jsoneditor-value.jsoneditor-string{
    color:green
}
div.jsoneditor-value.jsoneditor-array,div.jsoneditor-value.jsoneditor-object{
    min-width:16px;
    color:grey
}
div.jsoneditor-value.jsoneditor-number{
    color:#ee422e
}
div.jsoneditor-value.jsoneditor-boolean{
    color:#ff8c00
}
div.jsoneditor-value.jsoneditor-null{
    color:#004ed0
}
div.jsoneditor-value.jsoneditor-invalid{
    color:#000
}
div.jsoneditor-tree button{
    width:24px;
    height:24px;
    padding:0;
    margin:0;
    border:none;
    cursor:pointer;
    background:transparent url(jsoneditor-icons.svg)
}
div.jsoneditor-mode-form tr.jsoneditor-expandable td.jsoneditor-tree,div.jsoneditor-mode-view tr.jsoneditor-expandable td.jsoneditor-tree{
    cursor:pointer
}
div.jsoneditor-tree button.jsoneditor-collapsed{
    background-position:0 -48px
}
div.jsoneditor-tree button.jsoneditor-expanded{
    background-position:0 -72px
}
div.jsoneditor-tree button.jsoneditor-contextmenu{
    background-position:-48px -72px
}
div.jsoneditor-tree button.jsoneditor-contextmenu.jsoneditor-selected,div.jsoneditor-tree button.jsoneditor-contextmenu:focus,div.jsoneditor-tree button.jsoneditor-contextmenu:hover,tr.jsoneditor-selected.jsoneditor-first button.jsoneditor-contextmenu{
    background-position:-48px -48px
}
div.jsoneditor-tree :focus{
    outline:0
}
div.jsoneditor-tree button:focus{
    background-color:#f5f5f5;
    outline:#e5e5e5 solid 1px
}
div.jsoneditor-tree button.jsoneditor-invisible{
    visibility:hidden;
    background:0 0
}
div.jsoneditor{
    color:#1a1a1a;
    border:1px solid #3883fa;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    height:100%;
    position:relative;
    padding:0;
    line-height:100%
}
div.jsoneditor-tree table.jsoneditor-tree{
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
    margin:0
}
div.jsoneditor-outer{
    position:static;
    width:100%;
    height:100%;
    margin:-35px 0 0 0;
    padding:35px 0 0 0;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
div.jsoneditor-outer.has-nav-bar{
    margin:-61px 0 0 0;
    padding:61px 0 0 0
}
div.jsoneditor-outer.has-status-bar{
    margin:-35px 0 -26px 0;
    padding:35px 0 26px 0
}
.ace-jsoneditor,textarea.jsoneditor-text{
    min-height:150px
}
div.jsoneditor-tree{
    width:100%;
    height:100%;
    position:relative;
    overflow:auto
}
textarea.jsoneditor-text{
    width:100%;
    height:100%;
    margin:0;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    outline-width:0;
    border:none;
    background-color:#fff;
    resize:none
}
tr.jsoneditor-highlight,tr.jsoneditor-selected{
    background-color:#d3d3d3
}
tr.jsoneditor-selected button.jsoneditor-contextmenu,tr.jsoneditor-selected button.jsoneditor-dragarea{
    visibility:hidden
}
tr.jsoneditor-selected.jsoneditor-first button.jsoneditor-contextmenu,tr.jsoneditor-selected.jsoneditor-first button.jsoneditor-dragarea{
    visibility:visible
}
div.jsoneditor-tree button.jsoneditor-dragarea{
    background:url(jsoneditor-icons.svg) -72px -72px;
    cursor:move
}
div.jsoneditor-tree button.jsoneditor-dragarea:focus,div.jsoneditor-tree button.jsoneditor-dragarea:hover,tr.jsoneditor-selected.jsoneditor-first button.jsoneditor-dragarea{
    background-position:-72px -48px
}
div.jsoneditor td,div.jsoneditor th,div.jsoneditor tr{
    padding:0;
    margin:0
}
div.jsoneditor td{
    vertical-align:top
}
div.jsoneditor td.jsoneditor-tree{
    vertical-align:top
}
.jsoneditor-schema-error,div.jsoneditor td,div.jsoneditor textarea,div.jsoneditor th,div.jsoneditor-field,div.jsoneditor-value{
    font-family:droid sans mono,consolas,monospace,courier new,courier,sans-serif;
    font-size:10pt;
    color:#1a1a1a
}
.jsoneditor-schema-error{
    cursor:default;
    display:inline-block;
    height:24px;
    line-height:24px;
    position:relative;
    text-align:center;
    width:24px
}
div.jsoneditor-tree .jsoneditor-schema-error{
    width:24px;
    height:24px;
    padding:0;
    margin:0 4px 0 0;
    background:url(jsoneditor-icons.svg) -168px -48px
}
.jsoneditor-schema-error .jsoneditor-popover{
    background-color:#4c4c4c;
    border-radius:3px;
    box-shadow:0 0 5px rgba(0,0,0,.4);
    color:#fff;
    display:none;
    padding:7px 10px;
    position:absolute;
    width:200px;
    z-index:4
}
.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-above{
    bottom:32px;
    left:-98px
}
.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-below{
    top:32px;
    left:-98px
}
.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-left{
    top:-7px;
    right:32px
}
.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-right{
    top:-7px;
    left:32px
}
.jsoneditor-schema-error .jsoneditor-popover:before{
    border-right:7px solid transparent;
    border-left:7px solid transparent;
    content:'';
    display:block;
    left:50%;
    margin-left:-7px;
    position:absolute
}
.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-above:before{
    border-top:7px solid #4c4c4c;
    bottom:-7px
}
.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-below:before{
    border-bottom:7px solid #4c4c4c;
    top:-7px
}
.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-left:before{
    border-left:7px solid #4c4c4c;
    border-top:7px solid transparent;
    border-bottom:7px solid transparent;
    content:'';
    top:19px;
    right:-14px;
    left:inherit;
    margin-left:inherit;
    margin-top:-7px;
    position:absolute
}
.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-right:before{
    border-right:7px solid #4c4c4c;
    border-top:7px solid transparent;
    border-bottom:7px solid transparent;
    content:'';
    top:19px;
    left:-14px;
    margin-left:inherit;
    margin-top:-7px;
    position:absolute
}
.jsoneditor-schema-error:focus .jsoneditor-popover,.jsoneditor-schema-error:hover .jsoneditor-popover{
    display:block;
    -webkit-animation:fade-in .3s linear 1,move-up .3s linear 1;
    -moz-animation:fade-in .3s linear 1,move-up .3s linear 1;
    -ms-animation:fade-in .3s linear 1,move-up .3s linear 1
}
@-webkit-keyframes fade-in{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@-moz-keyframes fade-in{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@-ms-keyframes fade-in{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
.jsoneditor .jsoneditor-text-errors{
    width:100%;
    border-collapse:collapse;
    background-color:#ffef8b;
    border-top:1px solid gold
}
.jsoneditor .jsoneditor-text-errors td{
    padding:3px 6px;
    vertical-align:middle
}
.jsoneditor-text-errors .jsoneditor-schema-error{
    border:none;
    width:24px;
    height:24px;
    padding:0;
    margin:0 4px 0 0;
    background:url(jsoneditor-icons.svg) -168px -48px
}
div.jsoneditor-contextmenu-root{
    position:relative;
    width:0;
    height:0
}
div.jsoneditor-contextmenu{
    position:absolute;
    box-sizing:content-box;
    z-index:99999
}
div.jsoneditor-contextmenu li,div.jsoneditor-contextmenu ul{
    box-sizing:content-box;
    position:relative
}
div.jsoneditor-contextmenu ul{
    position:relative;
    left:0;
    top:0;
    width:128px;
    background:#fff;
    border:1px solid #d3d3d3;
    box-shadow:2px 2px 12px rgba(128,128,128,.3);
    list-style:none;
    margin:0;
    padding:0
}
div.jsoneditor-contextmenu ul li button{
    position:relative;
    padding:0 4px 0 0;
    margin:0;
    width:128px;
    height:auto;
    border:none;
    cursor:pointer;
    color:#4d4d4d;
    background:0 0;
    font-size:10pt;
    font-family:arial,sans-serif;
    box-sizing:border-box;
    text-align:left
}
div.jsoneditor-contextmenu ul li button::-moz-focus-inner{
    padding:0;
    border:0
}
div.jsoneditor-contextmenu ul li button:focus,div.jsoneditor-contextmenu ul li button:hover{
    color:#1a1a1a;
    background-color:#f5f5f5;
    outline:0
}
div.jsoneditor-contextmenu ul li button.jsoneditor-default{
    width:96px
}
div.jsoneditor-contextmenu ul li button.jsoneditor-expand{
    float:right;
    width:32px;
    height:24px;
    border-left:1px solid #e5e5e5
}
div.jsoneditor-contextmenu div.jsoneditor-icon{
    position:absolute;
    top:0;
    left:0;
    width:24px;
    height:24px;
    border:none;
    padding:0;
    margin:0;
    background-image:url(jsoneditor-icons.svg)
}
div.jsoneditor-contextmenu ul li ul div.jsoneditor-icon{
    margin-left:24px
}
div.jsoneditor-contextmenu div.jsoneditor-text{
    padding:4px 0 4px 24px;
    word-wrap:break-word
}
div.jsoneditor-contextmenu div.jsoneditor-text.jsoneditor-right-margin{
    padding-right:24px
}
div.jsoneditor-contextmenu ul li button div.jsoneditor-expand{
    position:absolute;
    top:0;
    right:0;
    width:24px;
    height:24px;
    padding:0;
    margin:0 4px 0 0;
    background:url(jsoneditor-icons.svg) 0 -72px;
    opacity:.4
}
div.jsoneditor-contextmenu ul li button.jsoneditor-expand:focus div.jsoneditor-expand,div.jsoneditor-contextmenu ul li button.jsoneditor-expand:hover div.jsoneditor-expand,div.jsoneditor-contextmenu ul li button:focus div.jsoneditor-expand,div.jsoneditor-contextmenu ul li button:hover div.jsoneditor-expand,div.jsoneditor-contextmenu ul li.jsoneditor-selected div.jsoneditor-expand{
    opacity:1
}
div.jsoneditor-contextmenu div.jsoneditor-separator{
    height:0;
    border-top:1px solid #e5e5e5;
    padding-top:5px;
    margin-top:5px
}
div.jsoneditor-contextmenu button.jsoneditor-remove>div.jsoneditor-icon{
    background-position:-24px -24px
}
div.jsoneditor-contextmenu button.jsoneditor-remove:focus>div.jsoneditor-icon,div.jsoneditor-contextmenu button.jsoneditor-remove:hover>div.jsoneditor-icon{
    background-position:-24px 0
}
div.jsoneditor-contextmenu button.jsoneditor-append>div.jsoneditor-icon{
    background-position:0 -24px
}
div.jsoneditor-contextmenu button.jsoneditor-append:focus>div.jsoneditor-icon,div.jsoneditor-contextmenu button.jsoneditor-append:hover>div.jsoneditor-icon{
    background-position:0 0
}
div.jsoneditor-contextmenu button.jsoneditor-insert>div.jsoneditor-icon{
    background-position:0 -24px
}
div.jsoneditor-contextmenu button.jsoneditor-insert:focus>div.jsoneditor-icon,div.jsoneditor-contextmenu button.jsoneditor-insert:hover>div.jsoneditor-icon{
    background-position:0 0
}
div.jsoneditor-contextmenu button.jsoneditor-duplicate>div.jsoneditor-icon{
    background-position:-48px -24px
}
div.jsoneditor-contextmenu button.jsoneditor-duplicate:focus>div.jsoneditor-icon,div.jsoneditor-contextmenu button.jsoneditor-duplicate:hover>div.jsoneditor-icon{
    background-position:-48px 0
}
div.jsoneditor-contextmenu button.jsoneditor-sort-asc>div.jsoneditor-icon{
    background-position:-168px -24px
}
div.jsoneditor-contextmenu button.jsoneditor-sort-asc:focus>div.jsoneditor-icon,div.jsoneditor-contextmenu button.jsoneditor-sort-asc:hover>div.jsoneditor-icon{
    background-position:-168px 0
}
div.jsoneditor-contextmenu button.jsoneditor-sort-desc>div.jsoneditor-icon{
    background-position:-192px -24px
}
div.jsoneditor-contextmenu button.jsoneditor-sort-desc:focus>div.jsoneditor-icon,div.jsoneditor-contextmenu button.jsoneditor-sort-desc:hover>div.jsoneditor-icon{
    background-position:-192px 0
}
div.jsoneditor-contextmenu ul li button.jsoneditor-selected,div.jsoneditor-contextmenu ul li button.jsoneditor-selected:focus,div.jsoneditor-contextmenu ul li button.jsoneditor-selected:hover{
    color:#fff;
    background-color:#ee422e
}
div.jsoneditor-contextmenu ul li{
    overflow:hidden
}
div.jsoneditor-contextmenu ul li ul{
    display:none;
    position:relative;
    left:-10px;
    top:0;
    border:none;
    box-shadow:inset 0 0 10px rgba(128,128,128,.5);
    padding:0 10px;
    -webkit-transition:all .3s ease-out;
    -moz-transition:all .3s ease-out;
    -o-transition:all .3s ease-out;
    transition:all .3s ease-out
}
div.jsoneditor-contextmenu ul li ul li button{
    padding-left:24px;
    animation:all ease-in-out 1s
}
div.jsoneditor-contextmenu ul li ul li button:focus,div.jsoneditor-contextmenu ul li ul li button:hover{
    background-color:#f5f5f5
}
div.jsoneditor-contextmenu button.jsoneditor-type-string>div.jsoneditor-icon{
    background-position:-144px -24px
}
div.jsoneditor-contextmenu button.jsoneditor-type-string.jsoneditor-selected>div.jsoneditor-icon,div.jsoneditor-contextmenu button.jsoneditor-type-string:focus>div.jsoneditor-icon,div.jsoneditor-contextmenu button.jsoneditor-type-string:hover>div.jsoneditor-icon{
    background-position:-144px 0
}
div.jsoneditor-contextmenu button.jsoneditor-type-auto>div.jsoneditor-icon{
    background-position:-120px -24px
}
div.jsoneditor-contextmenu button.jsoneditor-type-auto.jsoneditor-selected>div.jsoneditor-icon,div.jsoneditor-contextmenu button.jsoneditor-type-auto:focus>div.jsoneditor-icon,div.jsoneditor-contextmenu button.jsoneditor-type-auto:hover>div.jsoneditor-icon{
    background-position:-120px 0
}
div.jsoneditor-contextmenu button.jsoneditor-type-object>div.jsoneditor-icon{
    background-position:-72px -24px
}
div.jsoneditor-contextmenu button.jsoneditor-type-object.jsoneditor-selected>div.jsoneditor-icon,div.jsoneditor-contextmenu button.jsoneditor-type-object:focus>div.jsoneditor-icon,div.jsoneditor-contextmenu button.jsoneditor-type-object:hover>div.jsoneditor-icon{
    background-position:-72px 0
}
div.jsoneditor-contextmenu button.jsoneditor-type-array>div.jsoneditor-icon{
    background-position:-96px -24px
}
div.jsoneditor-contextmenu button.jsoneditor-type-array.jsoneditor-selected>div.jsoneditor-icon,div.jsoneditor-contextmenu button.jsoneditor-type-array:focus>div.jsoneditor-icon,div.jsoneditor-contextmenu button.jsoneditor-type-array:hover>div.jsoneditor-icon{
    background-position:-96px 0
}
div.jsoneditor-contextmenu button.jsoneditor-type-modes>div.jsoneditor-icon{
    background-image:none;
    width:6px
}
div.jsoneditor-menu{
    width:100%;
    height:35px;
    padding:2px;
    margin:0;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    color:#fff;
    background-color:#3883fa;
    border-bottom:1px solid #3883fa
}
div.jsoneditor-menu>button,div.jsoneditor-menu>div.jsoneditor-modes>button{
    width:26px;
    height:26px;
    margin:2px;
    padding:0;
    border-radius:2px;
    border:1px solid transparent;
    background:transparent url(jsoneditor-icons.svg);
    color:#fff;
    opacity:.8;
    font-family:arial,sans-serif;
    font-size:10pt;
    float:left
}
div.jsoneditor-menu>button:hover,div.jsoneditor-menu>div.jsoneditor-modes>button:hover{
    background-color:rgba(255,255,255,.2);
    border:1px solid rgba(255,255,255,.4)
}
div.jsoneditor-menu>button:active,div.jsoneditor-menu>button:focus,div.jsoneditor-menu>div.jsoneditor-modes>button:active,div.jsoneditor-menu>div.jsoneditor-modes>button:focus{
    background-color:rgba(255,255,255,.3)
}
div.jsoneditor-menu>button:disabled,div.jsoneditor-menu>div.jsoneditor-modes>button:disabled{
    opacity:.5
}
div.jsoneditor-menu>button.jsoneditor-collapse-all{
    background-position:0 -96px
}
div.jsoneditor-menu>button.jsoneditor-expand-all{
    background-position:0 -120px
}
div.jsoneditor-menu>button.jsoneditor-undo{
    background-position:-24px -96px
}
div.jsoneditor-menu>button.jsoneditor-undo:disabled{
    background-position:-24px -120px
}
div.jsoneditor-menu>button.jsoneditor-redo{
    background-position:-48px -96px
}
div.jsoneditor-menu>button.jsoneditor-redo:disabled{
    background-position:-48px -120px
}
div.jsoneditor-menu>button.jsoneditor-compact{
    background-position:-72px -96px
}
div.jsoneditor-menu>button.jsoneditor-format{
    background-position:-72px -120px
}
div.jsoneditor-menu>button.jsoneditor-repair{
    background-position:-96px -96px
}
div.jsoneditor-menu>div.jsoneditor-modes{
    display:inline-block;
    float:left
}
div.jsoneditor-menu>div.jsoneditor-modes>button{
    background-image:none;
    width:auto;
    padding-left:6px;
    padding-right:6px
}
div.jsoneditor-menu>button.jsoneditor-separator,div.jsoneditor-menu>div.jsoneditor-modes>button.jsoneditor-separator{
    margin-left:10px
}
div.jsoneditor-menu a{
    font-family:arial,sans-serif;
    font-size:10pt;
    color:#fff;
    opacity:.8;
    vertical-align:middle
}
div.jsoneditor-menu a:hover{
    opacity:1
}
div.jsoneditor-menu a.jsoneditor-poweredBy{
    font-size:8pt;
    position:absolute;
    right:0;
    top:0;
    padding:10px
}
table.jsoneditor-search div.jsoneditor-results,table.jsoneditor-search input{
    font-family:arial,sans-serif;
    font-size:10pt;
    color:#1a1a1a;
    background:0 0
}
table.jsoneditor-search div.jsoneditor-results{
    color:#fff;
    padding-right:5px;
    line-height:24px
}
table.jsoneditor-search{
    position:absolute;
    right:4px;
    top:4px;
    border-collapse:collapse;
    border-spacing:0
}
table.jsoneditor-search div.jsoneditor-frame{
    border:1px solid transparent;
    background-color:#fff;
    padding:0 2px;
    margin:0
}
table.jsoneditor-search div.jsoneditor-frame table{
    border-collapse:collapse
}
table.jsoneditor-search input{
    width:120px;
    border:none;
    outline:0;
    margin:1px;
    line-height:20px
}
table.jsoneditor-search button{
    width:16px;
    height:24px;
    padding:0;
    margin:0;
    border:none;
    background:url(jsoneditor-icons.svg);
    vertical-align:top
}
table.jsoneditor-search button:hover{
    background-color:transparent
}
table.jsoneditor-search button.jsoneditor-refresh{
    width:18px;
    background-position:-99px -73px
}
table.jsoneditor-search button.jsoneditor-next{
    cursor:pointer;
    background-position:-124px -73px
}
table.jsoneditor-search button.jsoneditor-next:hover{
    background-position:-124px -49px
}
table.jsoneditor-search button.jsoneditor-previous{
    cursor:pointer;
    background-position:-148px -73px;
    margin-right:2px
}
table.jsoneditor-search button.jsoneditor-previous:hover{
    background-position:-148px -49px
}
div.jsoneditor div.autocomplete.dropdown{
    position:absolute;
    background:#fff;
    box-shadow:2px 2px 12px rgba(128,128,128,.3);
    border:1px solid #d3d3d3;
    z-index:100;
    overflow-x:hidden;
    overflow-y:auto;
    cursor:default;
    margin:0;
    padding-left:2pt;
    padding-right:5pt;
    text-align:left;
    outline:0;
    font-family:droid sans mono,consolas,monospace,courier new,courier,sans-serif;
    font-size:10pt
}
div.jsoneditor div.autocomplete.dropdown .item{
    color:#333
}
div.jsoneditor div.autocomplete.dropdown .item.hover{
    background-color:#ddd
}
div.jsoneditor div.autocomplete.hint{
    color:#aaa;
    top:4px;
    left:4px
}
div.jsoneditor-treepath{
    padding:0 5px;
    overflow:hidden
}
div.jsoneditor-treepath div.jsoneditor-contextmenu-root{
    position:absolute;
    left:0
}
div.jsoneditor-treepath span.jsoneditor-treepath-element{
    margin:1px;
    font-family:arial,sans-serif;
    font-size:10pt
}
div.jsoneditor-treepath span.jsoneditor-treepath-seperator{
    margin:2px;
    font-size:9pt;
    font-family:arial,sans-serif
}
div.jsoneditor-treepath span.jsoneditor-treepath-element:hover,div.jsoneditor-treepath span.jsoneditor-treepath-seperator:hover{
    cursor:pointer;
    text-decoration:underline
}
div.jsoneditor-statusbar{
    line-height:26px;
    height:26px;
    margin-top:-26px;
    color:grey;
    background-color:#ebebeb;
    border-top:1px solid #d3d3d3;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    font-size:10pt
}
div.jsoneditor-statusbar>.jsoneditor-curserinfo-label{
    margin:0 2px 0 4px
}
div.jsoneditor-statusbar>.jsoneditor-curserinfo-val{
    margin-right:12px
}
div.jsoneditor-statusbar>.jsoneditor-curserinfo-count{
    margin-left:4px
}
div.jsoneditor-navigation-bar{
    width:100%;
    height:26px;
    line-height:26px;
    padding:0;
    margin:0;
    border-bottom:1px solid #d3d3d3;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    color:grey;
    background-color:#ebebeb;
    font-size:10pt
}
div.jsoneditor-navigation-bar.nav-bar-empty:after{
    content:'Select a node ...';
    color:rgba(104,104,91,.56);
    position:absolute;
    margin-left:5px
}
div.prompt-background,div.prompt-overlay{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:999
}
div.prompt-overlay{
    background-color:gray;
    opacity:.2
}
div.prompt-border{
    width:410px;
    margin:100px auto;
    padding:20px;
    background-color:#fff;
    border:1px solid #d3d3d3;
    border-radius:2px;
    -moz-box-shadow:2px 2px 12px rgba(128,128,128,.3);
    -webkit-box-shadow:2px 2px 12px rgba(128,128,128,.3);
    box-shadow:2px 2px 12px rgba(128,128,128,.3)
}
div.prompt-title{
    font-weight:700
}
div.prompt-description{
    color:gray;
    margin:30px 0 0 0
}
div.prompt-contents{
    margin:30px 0
}
div.prompt-buttons{
    text-align:right
}
input.prompt-field[type=file],input.prompt-field[type=text]{
    width:100%;
    border:1px solid #d3d3d3;
    border-radius:2px;
    padding:8px;
    box-sizing:border-box
}
input.prompt-cancel,input.prompt-submit{
    margin-left:10px
}
div.prompt-contents table{
    width:100%
}
div.prompt-contents th{
    font-weight:400;
    text-align:left
}
div.prompt-contents td,div.prompt-contents th{
    padding:8px 0
}
div.prompt-contents td input[type=text]{
    width:100%
}
body,html{
    font-family:arial,sans-serif;
    font-size:11pt;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden
}
span.header-light{
    color:gray
}
#header{
    width:100%;
    height:40px;
    background:#4d4d4d;
    box-shadow:0 0 4px 2px rgba(0,0,0,.4);
    color:#fff
}
#logo{
    height:32px;
    margin:4px 10px;
    border:none
}
#name-menu{
    position:absolute;
    left:220px;
    top:7px
}
#name-menu div{
    display:inline-block
}
#name{
    line-height:24px;
    color:#fff;
    padding:0 10px;
    border:1px solid #737373;
    border-radius:3px;
    background:rgba(115,115,115,.5);
    -moz-box-shadow:inset 0 0 10px #000;
    -webkit-box-shadow:inset 0 0 10px #000;
    box-shadow:inset 0 0 10px #000;
    visibility:hidden
}
#name-status,#name-status a{
    color:grey
}
#name-status a:hover{
    color:#ee422e
}
#menu{
    position:absolute;
    top:5px;
    right:15px;
    font-size:11pt
}
#menu ul{
    list-style:none;
    margin:0;
    padding:0;
    clear:both
}
#menu ul li{
    color:#e6e6e6;
    background:0 0;
    border:none;
    border-right:1px solid #737373;
    height:30px;
    padding:0;
    margin:0;
    float:left;
    position:relative;
    text-decoration:none
}
#menu ul li:first-child{
    border-left:1px solid #737373
}
#menu ul li:hover{
    color:#fff;
    background-color:#737373
}
#menu ul li ul{
    display:none
}
#menu ul li.active>ul,#menu ul li:hover>ul{
    display:block
}
#menu ul li ul{
    position:absolute;
    top:30px;
    left:0;
    z-index:999;
    background:#f5f5f5;
    border:1px solid #d3d3d3;
    box-shadow:0 0 15px rgba(128,128,128,.5)
}
#menu ul li ul li{
    color:#737373;
    background:0 0;
    border:none;
    margin:0;
    padding:0
}
#menu ul li ul li:first-child{
    border-left:none
}
#menu ul li ul li:hover{
    color:#737373;
    background-color:#fff
}
#menu a{
    padding:6px 10px;
    display:block;
    cursor:pointer;
    text-decoration:none;
    color:#fff
}
#menu ul li ul li{
    width:200px
}
#menu ul li ul li a{
    color:#737373
}
#menu ul li ul #filesList{
    border-top:1px solid #d3d3d3;
    margin-top:10px;
    height:auto;
    max-height:300px;
    overflow-x:hidden;
    overflow-y:auto
}
#menu ul li #openMenu li div.file{
    position:relative
}
#menu ul li ul #filesList div.file a{
    padding:6px 10px
}
#menu ul li ul #filesList div.file a:hover{
    color:#ee422e;
    text-decoration:underline
}
#menu ul li ul #filesList div.file:first-child a{
    padding-top:16px
}
#menu ul li ul #filesList div.file:last-child a{
    padding-bottom:16px
}
#menu ul li ul #filesList div.file a.open{
    margin-right:30px
}
#menu ul li ul #filesList div.file a.remove{
    display:none;
    position:absolute;
    top:0;
    right:0;
    height:30px;
    width:10px;
    padding:0 10px;
    line-height:24px;
    font-size:18px;
    font-weight:700;
    text-decoration:none
}
#menu ul li #openMenu li div.file:hover a.remove{
    display:block
}
#menu ul li ul #filesList div.file:first-child a.remove{
    padding-top:10px
}
span.dropDownIcon{
    font-size:75%;
    margin-left:2px
}
#menu #open{
    cursor:default
}
#menu ul li.settings ul#settingsMenu{
    left:auto;
    right:0
}
#menu ul li.settings ul#settingsMenu li{
    height:auto
}
#menu ul li.settings ul#settingsMenu li:hover{
    background-color:inherit
}
#menu ul li.settings ul#settingsMenu li div{
    padding:6px 10px;
    position:relative
}
#menu ul li.settings ul#settingsMenu li#schemasList{
    border-top:1px solid #d3d3d3;
    margin-top:10px;
    padding:6px 0;
    height:auto;
    max-height:300px;
    overflow-x:hidden;
    overflow-y:auto
}
#schemasList label:hover{
    color:#ee422e
}
#menu ul li.settings ul#settingsMenu li div.indentation{
    line-height:24px
}
#menu ul li.settings ul#settingsMenu li div a.remove{
    display:none;
    position:absolute;
    top:0;
    right:0;
    height:30px;
    width:10px;
    padding:0 10px;
    line-height:30px;
    font-size:18px;
    font-weight:700;
    text-decoration:none
}
#menu ul li.settings ul#settingsMenu li div:hover a.remove{
    display:block
}
#menu ul li.settings ul#settingsMenu li div a.remove:hover{
    color:#ee422e
}
.schema-selection{
    color:gray
}
#indentation{
    width:32px;
    height:14px;
    padding:4px;
    float:right;
    text-align:center
}
.info{
    color:gray;
    font-style:italic
}
#auto{
    width:100%;
    height:100%;
    margin:-40px 0 -24px 0;
    padding:40px 0 24px 0;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden
}
#contents{
    width:100%;
    height:100%;
    overflow:hidden
}
#codeEditor,#treeEditor{
    height:100%;
    width:400px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
#codeEditor{
    float:left;
    padding:15px 0 15px 15px
}
#treeEditor{
    float:left;
    padding:15px 15px 15px 0
}
div.jsoneditor,div.jsoneditor-menu{
    border-color:#f4a460!important
}
div.jsoneditor-menu{
    background-color:#f4a460!important
}
div.jsoneditor{
    box-shadow:0 0 4px 2px rgba(0,0,0,.1)
}
#splitter{
    text-align:center;
    float:left;
    height:100%;
    padding:15px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
#splitter #buttons{
    margin:0 0 15px 0
}
#splitter #toTree{
    margin:40px 0 0 0
}
#splitter #toCode{
    margin:20px 0 0 0
}
#splitter #drag{
    font-size:32px;
    color:#d3d3d3;
    border-radius:3px;
    min-width:24px;
    cursor:col-resize
}
#splitter #drag.active,#splitter #drag:hover{
    color:gray;
    background-color:#f5f5f5
}
#footer{
    width:100%;
    height:23px;
    font-size:10pt;
    overflow:hidden;
    color:#bfbfbf;
    border-top:1px solid #d3d3d3;
    text-align:center;
    background-color:#f5f5f5;
    box-shadow:0 0 4px 2px rgba(0,0,0,.1)
}
#footer-inner{
    margin:4px
}
a.header{
    color:#fff;
    text-decoration:none
}
a.footer{
    color:#bfbfbf;
    text-decoration:none
}
a.footer:hover{
    color:#ee422e;
    text-decoration:underline
}
#ad{
    float:right;
    right:15px;
    padding:15px 0 15px 0;
    position:relative
}
#ad{
    width:160px;
    height:600px
}
@media(min-width:1500px){
    #ad{
        width:300px;
        height:600px
    }
}
#chromeAppInfo{
    line-height:normal;
    padding:0 5px 20px 5px
}
div.error,div.notification{
    border-radius:2px;
    padding:5px;
    margin:5px;
    box-shadow:0 0 15px rgba(128,128,128,.5)
}
div.error{
    color:#fff;
    background-color:#ee422e;
    border:1px solid #ee422e
}
div.error a{
    color:#fff
}
div.error a:hover{
    color:#ffcecf
}
div.notification{
    color:#1a1a1a;
    background-color:#ffffab;
    border:1px solid #e6d600
}
pre.error{
    margin:0 0 10px 0;
    white-space:pre-wrap;
    font-family:droid sans mono,monospace,courier new,courier,sans-serif;
    font-size:10pt
}
a.error{
    color:#ee422e;
    font-size:8pt
}
#schemaDoc{
    padding:4px 8px
}
button.flat,input.flat{
    border:1px solid #d3d3d3;
    border-radius:2px;
    padding:8px;
    box-sizing:border-box
}
button.flat,input[type=button].flat,input[type=submit].flat{
    background-color:#f5f5f5;
    box-shadow:0 0 2px 1px rgba(0,0,0,.05)
}
button.flat:hover,input[type=button].flat:hover,input[type=submit].flat:hover{
    background-color:#fff;
    box-shadow:0 0 2px 1px rgba(0,0,0,.05)
}
div.error button.close{
    font-size:16px;
    font-weight:700;
    padding:4px 8px
}
button.convert{
    cursor:default;
    padding:2px
}
div.convert-left,div.convert-right{
    width:24px;
    height:24px;
    margin:0
}
div.convert-right{
    background:url(jsoneditor-icons.svg) 0 -48px
}
div.convert-left{
    background:url(jsoneditor-icons.svg) -24px -48px
}
.jsoneditor .search input{
    background:0 0
}
